* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  background-color: hsl(0, 0%, 100%);
  overflow-x: hidden !important;
}

.shadow,
.shadow-second {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.shadow-second {
  background-color: rgba(0, 0, 0, 0.55);
}

.h2-box h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}
.h2-box .logo {
  height: 1.8em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

[id] {
  scroll-margin-top: 6em;
}

/* navigation */
.navbar {
  top: 0;
  position: sticky;
  width: 100vw;
  box-shadow: 0 2px 15px black;
  z-index: 10;
}
.navbar .navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  color: rgb(214, 17, 17);
  transition: color 0.3s;
}
.navbar .navbar-brand img {
  height: 2em;
}
.navbar .navbar-brand:hover {
  color: rgb(252, 1, 1);
}
.navbar .navbar-nav {
  font-size: 2rem;
}
.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
  padding: 0.5em;
  font-size: 2.2rem;
  transition: color 0.3s;
}
.navbar .navbar-nav .nav-link:hover {
  color: rgb(252, 1, 1);
}
.navbar .navbar-toggler {
  font-size: 3rem;
  border: none;
}

/* header */
.header-img {
  position: relative;
  height: 200px;
  width: 100%;
  background-position: 20% 70%;
  background-size: cover;
  background-image: url("/../Maserati/../dist/img/header-img-small.jpg");
  box-shadow: 0 0px 10px black;
  z-index: 1;
}
.header-img h1 {
  font-size: 3rem;
  text-shadow: 0 0 10px rgb(180, 41, 41);
  z-index: 1;
  text-transform: uppercase;
}

/* about me section */
.about-me .about-photo,
.about-me .about-photo-second {
  border: 2px solid rgb(214, 17, 17);
}
.about-me .about-textarea p {
  font-size: 2rem;
}
.about-me .about-textarea strong,
.about-me .about-textarea span {
  color: rgb(214, 17, 17);
}

/* carousel */
.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
  padding: 2em;
}
.carousel .carousel-inner .carousel-img-one,
.carousel .carousel-inner .carousel-img-two,
.carousel .carousel-inner .carousel-img-three {
  position: relative;
  height: 350px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.carousel .carousel-inner .carousel-img-one h5,
.carousel .carousel-inner .carousel-img-two h5,
.carousel .carousel-inner .carousel-img-three h5 {
  font-size: 3rem;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.carousel .carousel-inner .carousel-img-one p,
.carousel .carousel-inner .carousel-img-two p,
.carousel .carousel-inner .carousel-img-three p {
  font-size: 1.8rem;
}
.carousel .carousel-inner .carousel-img-one {
  background-image: url("/../Maserati/../dist/img/inside-car-small.jpg");
}
.carousel .carousel-inner .carousel-img-two {
  background-image: url("/../Maserati/../dist/img/decoration2-small.jpg");
  background-position: 0 62%;
}
.carousel .carousel-inner .carousel-img-three {
  background-image: url("/../Maserati/../dist/img/happy-clients3-small.jpg");
  background-position: 0 65%;
}

/* offer section */
.offer .text-box h3,
.offer .text-box .free-dates {
  font-size: 1.9rem;
}
.offer .text-box h3 b,
.offer .text-box .free-dates b {
  font-style: oblique;
}
.offer .text-box .free-dates {
  text-transform: uppercase;
  font-style: italic;
}
.offer .text-box .free-dates b {
  color: rgb(214, 17, 17);
}
.offer .text-box a .fa-circle-arrow-down {
  font-size: 4rem;
  color: rgb(214, 17, 17);
  transition: color 0.3s, animation 0.3s;
  animation: scroll-down 4s infinite;
}
.offer .text-box a .fa-circle-arrow-down:hover {
  color: rgb(167, 7, 7);
}
@keyframes scroll-down {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(-10%);
  }
}
.offer .card-area .card {
  height: 500px;
  width: 350px;
  border: 2px solid rgb(255, 57, 57);
  transition: transform 0.3s;
}
.offer .card-area .card h5 {
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.offer .card-area .card .list-group .list-group-item {
  font-size: 2rem;
  color: white;
  border-top: 2px solid rgb(255, 26, 26);
  background-color: transparent;
  font-weight: bold;
  font-style: italic;
}
.offer .card-area .card .list-group .list-group-item:last-child {
  padding-top: 0.2em;
}
.offer .card-area .card .btn {
  width: 70%;
  background-color: rgb(223, 20, 20);
  border: 1px solid rgb(206, 189, 189);
  color: white;
  border-radius: 5px;
  font-size: 2.3rem;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
.offer .card-area .card .active-btn {
  background-color: rgb(161, 12, 12);
}
.offer .card-area .card-one .list-group .list-group-item {
  padding: 0.5em;
}
.offer .card-area .card-one,
.offer .card-area .card-two {
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.offer .card-area .card-one {
  background-image: url("/../Maserati/../dist/img/card-one-small.jpg");
}
.offer .card-area .card-two {
  background-image: url("/../Maserati/../dist/img/card-two-small.jpg");
}

/* opinions section */
.opinions .text-box h3 {
  font-size: 1.9rem;
}
.opinions .text-box h3 b {
  font-size: 2rem;
  color: rgb(214, 17, 17);
}
.opinions .opinions-area .card {
  border: 2px solid rgb(131, 131, 131);
  border-radius: 8px;
}
.opinions .opinions-area .card .opinion-first,
.opinions .opinions-area .card .opinion-second,
.opinions .opinions-area .card .opinion-third,
.opinions .opinions-area .card .opinion-fourth {
  height: 280px;
  background-size: cover;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 2px solid rgb(131, 131, 131);
}
.opinions .opinions-area .card .opinion-first {
  background-image: url("/../Maserati/../dist/img/couple-first-small.jpg");
  background-position: 0 20%;
}
.opinions .opinions-area .card .opinion-second {
  background-image: url("/../Maserati/../dist/img/couple-second-small.jpg");
  background-position: 80% 70%;
}
.opinions .opinions-area .card .opinion-third {
  background-image: url("/../Maserati/../dist/img/couple-third-small.jpg");
  background-position: 0 35%;
}
.opinions .opinions-area .card .opinion-fourth {
  background-image: url("/../Maserati/../dist/img/couple-fourth-small.jpg");
  background-position: 0 10%;
}
.opinions .opinions-area .card .card-body .card-title {
  font-size: 2rem;
  font-weight: bold;
}
.opinions .opinions-area .card .card-body .card-text {
  font-size: 1.5rem;
}

/* contact section */
.contact .text-box h3 {
  font-size: 1.9rem;
}
.contact .text-box h3 a {
  text-decoration: none;
}
.contact .text-box h3 a strong {
  color: rgb(214, 17, 17);
}
.contact .contact-area h3 {
  font-size: 2.2rem;
  font-weight: bold;
}
.contact .contact-area .input-group {
  padding: 0.5em;
}
.contact .contact-area .input-group .text-error {
  font-size: 1.5rem;
  color: rgb(214, 17, 17);
}
.contact .contact-area .input-group input,
.contact .contact-area .input-group textarea,
.contact .contact-area .input-group select {
  font-size: 1.5rem;
  padding: 0.3em;
  width: 100%;
}
.contact .contact-area .input-group .error-input {
  background-color: rgb(252, 113, 113);
}
.contact .contact-area .input-group p {
  font-size: 1.3rem;
}
.contact .contact-area .input-group p a {
  color: rgb(214, 17, 17);
  text-decoration: none;
  transition: color 0.3s;
}
.contact .contact-area .input-group .btn {
  width: 40%;
  background-color: rgb(255, 26, 26);
  border: 1px solid rgb(206, 189, 189);
  border-radius: 2px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.contact .contact-area .area-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .contact-area .area-text textarea {
  width: 100%;
}
.contact .contact-area .area-text .text-error {
  position: static;
  bottom: 0;
}
.contact .contact-details h3 {
  font-size: 2.2rem;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.contact .contact-details h4 {
  font-size: 2rem;
  font-weight: bold;
  color: #e01c34;
  padding: 0.5em;
  letter-spacing: 0.1em;
}
.contact .contact-details p {
  font-size: 1.6rem;
  padding: 0.5em;
  font-weight: bold;
}
.contact .contact-details p i {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.8rem;
  padding: 0.5em;
}
.contact .contact-details p .fa-map-location-dot {
  color: #e01c34;
}
.contact .contact-details p .fa-envelope {
  color: #e01c34;
}
.contact .contact-details p a {
  text-decoration: none;
  color: black;
}
.contact .social-media-area h3 {
  font-size: 2.2rem;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.contact .social-media-area .btn-group .btn {
  margin: 1.5em;
  height: 60px;
  width: 60px;
  border-radius: 2px;
}
.contact .social-media-area .btn-group .btn i {
  font-size: 4.5rem;
  color: white;
  transition: color 0.3s;
}
.contact .social-media-area .btn-group .facebook {
  background-color: #0abcf9;
  background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
}
.contact .social-media-area .btn-group .instagram {
  background-color: #acabb0;
  background-image: linear-gradient(315deg, #acabb0 0%, #e01c34 74%);
}
.contact .social-media-area .btn-group .tiktok {
  background-color: #7ed6df;
  background-image: linear-gradient(315deg, #7ed6df 0%, #000000 74%);
}

/* modal */
.modal,
.modal-offer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal h5,
.modal-offer h5 {
  font-size: 1.8rem;
  font-weight: bold;
}
.modal p,
.modal-offer p {
  font-size: 1.5rem;
}
.modal .btn,
.modal-offer .btn {
  font-size: 2rem;
  color: white;
  background-color: rgb(255, 26, 26);
}

/* privacy policy subpage */
.privacy-policy .privacy-text-box h4 {
  font-size: 2.2rem;
  font-weight: bold;
}
.privacy-policy .privacy-text-box p {
  font-size: 1.6rem;
}
.privacy-policy .privacy-text-box ul {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
}

/* 404 subpage */
.section-404 .img-404 {
  position: relative;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("/../Maserati/../dist/img/inside-car.jpg");
  z-index: 1;
  border: 2px solid red;
}
.section-404 .img-404 h3 {
  font-size: 3rem;
  text-transform: uppercase;
}

/* cookies alert */
.cookies-area {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  width: 100vw;
  background-color: #acabb0;
  background-image: linear-gradient(315deg, #acabb0 0%, #e01c34 74%);
  border: 1px solid black;
  z-index: 5;
}
.cookies-area p,
.cookies-area a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.cookies-area .cookies-btn {
  background-color: white;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

/* footer */
footer {
  background-color: #f9c1b1;
  background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
}
footer p {
  font-size: 1.3rem;
}

@media screen and (min-width: 325px) {
  .offer .card-area .card-one .card-body h5 {
    font-size: 3.2rem;
  }
  .offer .card-area .card-one .card-body .list-group .list-group-item {
    padding: 0.5em;
    font-size: 2.1rem;
  }
  .offer .card-area .card-two .card-body .list-group .list-group-item {
    padding: 0.1em;
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 329px) {
  .offer .card-area .card-one .card-body .list-group .list-group-item {
    padding: 0.45em;
  }
  .offer .card-area .card-two .card-body .list-group .list-group-item {
    padding: 0.05em;
  }
}
@media screen and (min-width: 332px) {
  .offer .card-area .card-one .card-body .list-group .list-group-item {
    padding: 0.5em;
  }
  .offer .card-area .card-two .card-body .list-group .list-group-item {
    padding: 0.08em;
  }
}
@media screen and (min-width: 333px) {
  .offer .card-area .card-one .card-body .list-group .list-group-item {
    padding: 0.51em;
  }
}
@media screen and (min-width: 335px) {
  .offer .card-area .card-one .card-body .list-group .list-group-item {
    padding: 0.53em;
  }
  .offer .card-area .card-two .card-body .list-group .list-group-item {
    padding: 0.12em;
  }
}
@media screen and (min-width: 340px) {
  .offer .text-box .free-dates {
    font-size: 2.1rem;
  }
  .offer .text-box a .fa-circle-arrow-down {
    font-size: 4rem;
  }
  .offer .card-area .card-one .card-body .list-group .list-group-item {
    padding: 0.55em;
  }
}
@media screen and (min-width: 365px) {
  .offer .card-area .card-one .card-body .list-group .list-group-item {
    padding: 0.55em;
    font-size: 2.2rem;
  }
  .offer .card-area .card-two .card-body .list-group .list-group-item {
    padding: 0.2em;
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 512px) {
  .header-img h1 {
    font-size: 3.5rem;
  }
  .carousel .carousel-inner .carousel-img-one h5,
  .carousel .carousel-inner .carousel-img-two h5,
  .carousel .carousel-inner .carousel-img-three h5 {
    font-size: 3.5rem;
  }
  .carousel .carousel-inner .carousel-img-one p,
  .carousel .carousel-inner .carousel-img-two p,
  .carousel .carousel-inner .carousel-img-three p {
    font-size: 1.9rem;
  }
  .offer .text-box .free-dates {
    font-size: 2.2rem;
  }
  .offer .text-box a .fa-circle-arrow-down {
    font-size: 4.2rem;
  }
  .offer .card-area .card {
    width: 420px;
  }
  .offer .card-area .card .btn {
    width: 55%;
  }
  .offer .card-area .card-one .card-body .list-group .list-group-item {
    padding: 0.45em;
    font-size: 2.3rem;
  }
  .offer .card-area .card-two .card-body .list-group .list-group-item {
    padding: 0.4em;
    font-size: 2.3rem;
  }
  .opinions-area .col .card .opinion-first,
  .opinions-area .col .card .opinion-second,
  .opinions-area .col .card .opinion-third,
  .opinions-area .col .card .opinion-fourth {
    height: 350px;
  }
  .opinions-area .col .card .card-body .card-title {
    font-size: 2.2rem;
  }
  .opinions-area .col .card .card-body .card-text {
    font-size: 1.8rem;
  }
  .contact .contact-area .input-group .btn {
    width: 30%;
  }
}
@media screen and (min-width: 576px) {
  .header-img {
    height: 250px;
  }
  .h2-box h2 {
    font-size: 3rem;
  }
  .h2-box .logo {
    height: 2em;
  }
  .offer .text-box .free-dates {
    font-size: 2.4rem;
  }
  .offer .text-box a .fa-circle-arrow-down {
    font-size: 4.5rem;
  }
  .offer .card-area .card-two .card-body .btn {
    top: 0.1em;
  }
  .opinions-area .col .card .opinion-first,
  .opinions-area .col .card .opinion-second,
  .opinions-area .col .card .opinion-third,
  .opinions-area .col .card .opinion-fourth {
    height: 400px;
  }
  .opinions-area .col .card .card-body .card-title {
    font-size: 2.2rem;
  }
  .opinions-area .col .card .card-body .card-text {
    font-size: 1.8rem;
  }
  .contact .contact-area h3 {
    font-size: 2.8rem;
  }
  .contact .contact-area .input-group .btn {
    width: 25%;
  }
  .contact .contact-details h3 {
    font-size: 2.8rem;
  }
  .contact .social-media-area h3 {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 768px) {
  .header-img {
    height: 340px;
    background-position: 0 80%;
  }
  .header-img h1 {
    font-size: 4.5rem;
  }
  .carousel .carousel-inner .carousel-img-one h5,
  .carousel .carousel-inner .carousel-img-two h5,
  .carousel .carousel-inner .carousel-img-three h5 {
    margin-bottom: 1.8em;
    font-size: 4rem;
  }
  .carousel .carousel-inner .carousel-img-one p,
  .carousel .carousel-inner .carousel-img-two p,
  .carousel .carousel-inner .carousel-img-three p {
    font-size: 2.1rem;
  }
  .offer .card-area .card {
    height: 520px;
    width: 480px;
  }
  .offer .card-area .card .btn {
    width: 50%;
  }
  .offer .card-area .card-one .card-body .list-group .list-group-item {
    padding: 0.5em;
    font-size: 2.4rem;
  }
  .offer .card-area .card-two .card-body .list-group .list-group-item {
    padding: 0.5em;
    font-size: 2.4rem;
  }
  .opinions-area .col .card .opinion-first,
  .opinions-area .col .card .opinion-second,
  .opinions-area .col .card .opinion-third,
  .opinions-area .col .card .opinion-fourth {
    height: 350px;
  }
  .opinions-area .col .card .opinion-second {
    background-position: 65% 40%;
  }
  .opinions-area .col .card .card-body .card-title {
    font-size: 2.2rem;
  }
  .opinions-area .col .card .card-body .card-text {
    font-size: 1.8rem;
  }
  .contact .contact-area h3 {
    font-size: 3rem;
  }
  .contact .contact-area .input-group .btn {
    width: 25%;
  }
  .contact .contact-details h3 {
    font-size: 3rem;
  }
  .contact .social-media-area h3 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  /* header section */
  .header-img {
    height: 400px;
    background-position: 0 80%;
    background-image: url("/dist/imgs/header-img.jpg");
  }
  .header-img h1 {
    font-size: 5.5rem;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px rgb(180, 41, 41);
  }
  .h2-box h2 {
    font-size: 3.5rem;
  }
  .h2-box .logo {
    height: 2.4em;
  }
  /* carousel */
  .carousel .carousel-control-next-icon,
  .carousel .carousel-control-prev-icon {
    padding: 2.5em;
  }
  .carousel .carousel-inner .carousel-img-one,
  .carousel .carousel-inner .carousel-img-two,
  .carousel .carousel-inner .carousel-img-three {
    height: 500px;
  }
  .carousel .carousel-inner .carousel-img-one h5,
  .carousel .carousel-inner .carousel-img-two h5,
  .carousel .carousel-inner .carousel-img-three h5 {
    font-size: 4.5rem;
    padding: 0.5em;
  }
  .carousel .carousel-inner .carousel-img-one p,
  .carousel .carousel-inner .carousel-img-two p,
  .carousel .carousel-inner .carousel-img-three p {
    font-size: 3rem;
  }
  .carousel .carousel-inner .carousel-img-one {
    background-image: url("./dist/imgs/inside-car.jpg");
  }
  .carousel .carousel-inner .carousel-img-two {
    background-image: url("../dist/imgs/decoration2.jpg");
    background-position: 0 72%;
  }
  .carousel .carousel-inner .carousel-img-three {
    background-image: url("/src/img_min/happy-clients3.jpg");
    background-position: 0 61%;
  }
  /* offer section */
  .offer .text-box h3 {
    font-size: 2.2rem;
  }
  .offer .text-box .free-dates {
    font-size: 2.7rem;
  }
  .offer .text-box a .fa-circle-arrow-down {
    font-size: 4.8rem;
  }
  .offer .card-area .card {
    height: 520px;
    width: 420px;
    transition: transform 0.3s;
    cursor: pointer;
  }
  .offer .card-area .card .btn:hover {
    background-color: rgb(161, 12, 12);
  }
  .offer .card-area .card-one .card-body .list-group .list-group-item {
    padding: 0.58em;
    font-size: 2.4rem;
  }
  .offer .card-area .card-one {
    background-image: url("/../Maserati/../dist/img/card-one.jpg");
  }
  .offer .card-area .card-two {
    background-image: url("/../Maserati/../dist/img/card-two.jpg");
  }
  .offer .card-area .active-card {
    transform: scale(1.1);
  }
  /* opinions section */
  .opinions .text-box h3 {
    font-size: 2.2rem;
  }
  .opinions .text-box h3 b {
    font-size: 2.3rem;
  }
  .opinions .opinions-area .col .card .opinion-first {
    background-image: url("/../Maserati/../dist/img/couple-first-big.jpg");
  }
  .opinions .opinions-area .col .card .opinion-second {
    background-image: url("/../Maserati/../dist/img/couple-second-big.jpg");
  }
  .opinions .opinions-area .col .card .opinion-third {
    background-position: 0 30%;
    background-image: url("/../Maserati/../dist/img/couple-third-big.jpg");
  }
  .opinions .opinions-area .col .card .opinion-fourth {
    background-position: 0 15%;
    background-image: url("/../Maserati/../dist/img/couple-fourth-big.jpg");
  }
  .opinions .opinions-area .col .card .card-body .card-title {
    font-size: 3rem;
  }
  /* contact section */
  .contact .text-box h3 {
    font-size: 2.2rem;
  }
  .contact .contact-area .input-group input,
  .contact .contact-area .input-group textarea,
  .contact .contact-area .input-group select {
    font-size: 1.7rem;
  }
  .contact .contact-area .input-group .btn {
    width: 20%;
  }
  .contact .contact-area .input-group p a:hover {
    color: rgb(155, 5, 5);
  }
  .contact .contact-area .input-group .btn:hover {
    background-color: rgb(197, 18, 18);
  }
  .contact .contact-details h4 {
    font-size: 2.2rem;
  }
  .contact .social-media-area .btn-group i:hover {
    color: rgb(189, 189, 189);
  }
  footer p {
    font-size: 1.5rem;
  }
  .cookies-area {
    padding: 1em;
  }
  .cookies-area p,
  .cookies-area a {
    font-size: 1.8rem;
  }
  .cookies-area .cookies-btn {
    font-size: 1.5rem;
    transition: background-color 0.3s;
  }
  .cookies-area .cookies-btn:hover {
    background-color: rgb(253, 231, 231);
  }
}
@media screen and (min-width: 1200px) {
  .header-img {
    height: 450px;
  }
  .about-me .about-textarea p {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1400px) {
  .header-img {
    height: 480px;
  }
  .about-me .about-textarea p {
    font-size: 2rem;
  }
  .opinions-area .col .card .card-body .card-title {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */